@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Rubik+Spray+Paint&display=swap");

:root {
  --primary-font: "Fredoka";
  --secondary-font: "Rubik Spray Paint";
  --border: 1px solid black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
}

body {
  font-family: var(--primary-font);
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 2em;
  border: 3px solid black;
  height: 5.5em;
}

.nav-links {
  display: none;
}

.hamburger-btn {
  width: 2.5em;
  height: 2.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  background: none;
  border: none;
}

.hamburger-line {
  position: relative;
  height: 4px;
  width: 100%;
  background-color: black;
  border-radius: 2px;
  z-index: 2000;
  transition: all 400ms;
}

.hamburger-line:nth-child(2) {
}

nav > h2 {
  font-size: 3em;
  user-select: none;
  text-shadow: #eaae17 0px 2px 0, #3fb98286 -0px -2px 0;
}

nav > div > ul {
  display: flex;
  gap: 1em;
  user-select: none;
}

nav > div > ul > li {
  cursor: pointer;
}

main {
  flex-grow: 1;
}

footer {
  text-align: center;
  padding: 1em;
}

#splash {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-bottom: 3px solid black;
  background-image: url("assets/images/splash.webp");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2em;
  min-height: 40em;
}

#splash > div {
  padding: 4em 2em;
  text-align: center;
  display: flex;
  gap: 2em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.76);
  backdrop-filter: blur(0.1em);
  box-shadow: 0em 0.25em 1em rgba(255, 253, 253, 0.658);
}

#splash > div > p {
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.25em;
}

#splash > div > h2 {
  font-size: 3em;
}

#about {
  display: grid;
  gap: 1em;
  padding: 1em;
  grid-template-areas:
    "paragraph"
    "image";
}

#about > p {
  text-align: center;
  grid-area: paragraph;
  font-size: 1.25em;
}

#about > img {
  grid-area: image;
  width: 100%;
  border-radius: 1em;
  border: 3px solid black;
}

#testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em 0 1em;
}

#testimonials > h3 {
  text-align: center;
  font-size: 2em;
}

.testimonials-container {
  padding: 1em;
  display: grid;
  row-gap: 0.5em;
}

.testimonial {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 0.5em;
  font-size: 0.95em;
  padding: 0.55em;
  border: 3px solid black;
  border-radius: 1em;
}

.testimonial > p {
  grid-column: 1 / 5;
  font-style: italic;
}

.testimonial > div {
  grid-column: 3 / span 2;
  text-align: right;
}

.testimonial > div > p:nth-child(2) {
  font-size: smaller;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#contact > h3 {
  font-size: 2em;
}

#contact > form {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 1em;
  padding: 1em;
  width: 80vw;
}

/* Nav Menu animations & classes */

.nav-links-mobile-in {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease;
  animation: nav-links-in ease 750ms;
}

.nav-links-mobile-out {
  position: absolute;
  display: flex;
  left: 0;
  top: 0;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease;
  animation: nav-links-out ease 750ms forwards;
}

.logo-out {
  transition: all ease;
  animation: logo-out ease 500ms forwards;
}

.logo-in {
  transition: all ease;
  animation: logo-in ease 500ms forwards;
}

@keyframes logo-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes logo-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes nav-links-in {
  0% {
    left: 100%;
  }

  100% {
    left: 0%;
  }
}

@keyframes nav-links-out {
  0% {
    left: 0%;
  }
  100% {
    left: 100%;
  }
}

.ham-1 {
  position: absolute;
  rotate: 45deg;
  transform-origin: center;
  scale: 90% 100%;
}

.ham-2 {
  opacity: 0;
  scale: 2%;
}

.ham-3 {
  position: absolute;
  rotate: -45deg;
  transform-origin: center;
  scale: 90% 100%;
}

/* styles for desktop */

@media (min-width: 700px) {
  #splash > div {
    max-width: 30em;
    padding: 6em 4em;
    background-size: auto;
  }

  #splash > div > p {
    font-size: 1.75em;
  }

  #splash > div > h2 {
    font-size: 3.5em;
  }

  #about {
    gap: 3em;
    padding: 6em 3em;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "paragraph image";
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    display: flex;
  }

  .hamburger-btn {
    display: none;
  }

  .testimonials-container {
    max-height: max-content;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: max-content;
    gap: 1em;
  }

  .testimonial {
    grid-column: span 2;
    padding: 2em;
    align-content: center;
  }

  .testimonial:nth-child(1) {
    grid-column: 1/4;
  }

  .testimonial:nth-child(1) > p {
    font-size: larger;
  }

  .testimonial:nth-child(2) {
    grid-column: 4 / span 3;
  }

  .testimonial:nth-child(2) > p {
    font-size: larger;
  }

  .testimonial > div {
    place-self: end;
    margin-right: 10px;
  }
}

/* @media (min-width: 1024px) {
  main {
    margin: 0 8em;
  }

  #about > p {
    font-size: 1.3em;
  }
} */

@media (min-width: 1224px) {
  main {
    margin: 0 15em;
  }
  #about > p {
    font-size: 1.6em;
  }
}
